$primary-color: #949292 !important;
$gray-color: #666565;
$heading-font-weight: 700;
$my-font-size: 18px;
$my-text-align: center;

*{
.nav-five-link {
  color: $primary-color;
}

.contain-heading {
  color: $gray-color;
  font-weight: $heading-font-weight;
  font-size: $my-font-size;
}

.contain-details {
  padding: 0px 90px 0px 90px;
  color: $primary-color;
}

.grid-divide {
  margin: 20px 30px 30px 30px !important;
}

.grid-divide-footer {
  margin: 50px 30px 30px 30px !important;
}

.grid-title {
  text-align: $my-text-align;
}

.organic-para {
  right: 0px;
  text-align: $my-text-align;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  color: $primary-color;
}

.organic-para-footer {
  right: 0px;
  text-align: $my-text-align;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  font-weight: 500;
  color: $primary-color;
}

@media only screen and (max-width: 830px) {
  .grid-title {
      width: calc(50% - 0px) !important;
  }
}
}