* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.our-services,
.our-success,
.about-us {
  padding: 50px 0px;
}

header {
  padding: 15px 0px;
}

header img {
  width: 120px;
}

.sky-banner {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.sky-banner h1 {
  color: #534D4D;
  font-size: 70px;
}
.sky-banner span {
  display: block;
}
.sky-banner p {
  color: #5d5d5d;
}
.sky-banner img.top-bg {
  position: absolute;
  top: -80px;
  right: 0px;
  z-index: -1;
  width: 75%;
}

.sky-btn {
  display: inline-flex;
  background-color: #3D37F1;
  align-items: center;
  padding: 15px 50px;
  border-radius: 30px;
  gap: 15px;
  box-shadow: 0px 10px 35px #3D37F1;
  color: #ffffff !important;
  font-size: 18px;
}

.sec-heading {
  max-width: 600px;
  text-align: center;
  margin: 0px auto;
}
.sec-heading span {
  color: #3D37F1;
  font-size: 18px;
  font-weight: 600;
}
.sec-heading h2 {
  color: #5A5454;
}
.sec-heading p {
  color: #8D8D8D;
}

.our-services-wrapper .osw-box {
  padding: 80px 15px;
  text-align: center;
  color: #ffffff;
}
.our-services-wrapper .osw-box h4 {
  color: #ffffff;
}
.our-services-wrapper .osw-box p {
  padding: 0px 20px;
  color: #ffffff;
}
.our-services-wrapper .osw-box a {
  display: inline-block;
  margin-top: 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s;
}
.our-services-wrapper .osw-box a:hover {
  background-color: #ffffff;
  color: #000000;
}
.our-services-wrapper .osw-box-1 {
  background-image: linear-gradient(150deg, #F8B876, #E1A971);
  margin-bottom: 30px;
}
.our-services-wrapper .osw-box-2 {
  background-image: linear-gradient(200deg, #3FE4E0, #2499BA);
  margin-bottom: 30px;
}
.our-services-wrapper .osw-box-3 {
  background-image: linear-gradient(200deg, #654F99, #483A68);
  margin-bottom: 30px;
}
.our-services-wrapper .osw-box-4 {
  background-image: linear-gradient(200deg, #3E83D1, #0D65C6);
  margin-bottom: 30px;
}
.our-services-wrapper .osw-box-5 {
  background-image: linear-gradient(200deg, #9996F1, #5A53D8);
  margin-bottom: 30px;
}
.our-services-wrapper .osw-box-6 {
  background-image: linear-gradient(200deg, #EF767D, #9E4545);
}

.our-portfolio {
  padding: 80px 0px;
}
.our-portfolio .sec-heading {
  text-align: left;
}
.our-portfolio p {
  margin-bottom: 30px;
}
.our-portfolio ul li {
  margin-bottom: 20px;
  border-bottom: 2px solid #ffffff;
  padding: 15px;
}
.our-portfolio ul li:hover {
  border-bottom: 2px solid #3D37F1;
  cursor: pointer;
}

.our-success-wrapper .osw-box {
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 10px 35px #cfcfcf;
  padding: 30px;
  border-radius: 30px;
}
.our-success-wrapper .osw-box-number {
  color: #ffffff;
  display: inline-block;
  padding: 50px;
  border-radius: 25px;
  margin-bottom: 20PX;
}
.our-success-wrapper .osw-box-number P {
  color: #656565;
  text-transform: uppercase;
  font-weight: 500;
}
.our-success-wrapper .gradiant-1 {
  background-image: linear-gradient(100deg, #AB90FC, #6C56F4);
  box-shadow: 0px 10px 35px #AB90FC;
}
.our-success-wrapper .gradiant-2 {
  background-image: linear-gradient(100deg, #FF91A5, #FF67A3);
  box-shadow: 0px 10px 35px #FF91A5;
}
.our-success-wrapper .gradiant-3 {
  background-image: linear-gradient(100deg, #FBC199, #FF8D51);
  box-shadow: 0px 10px 35px #FBC199;
}

.about-us {
  background: url("../images/about/about-bg.png") no-repeat center;
  background-size: cover;
}
.about-us .about-wrapper {
  padding: 150px 0px;
  text-align: center;
  border-bottom: 1px solid #474747;
}
.about-us img {
  margin-bottom: 50px;
}
.about-us p:not(.about-us .sec-heading p) {
  color: #ffffff;
}
.about-us h4 {
  color: #3D3D7F;
}
.about-us .li-text {
  color: #3E415B !important;
}
.about-us .abt-btn {
  text-align: right;
}
.about-us a {
  box-shadow: none;
  position: relative;
  top: -10px;
  max-width: 300px;
}
.about-us a img {
  margin-bottom: 0px;
}
.about-us .work-flow {
  margin: 30px 0px 0px 0px;
}
.about-us .work-flow span {
  margin-bottom: 15px;
  display: inline-block;
  color: #828282;
}
.about-us .work-flow h4 {
  color: #ffffff;
  line-height: 1.6;
}

.dst {
  background-color: #F8F8F8;
  padding: 150px 0px;
  background-color: #F8F8F8;
}
.dst .dst-box {
  padding: 80px 80px 100px 80px;
  color: #ffffff;
  border-radius: 20px;
}
.dst .dst-box-1 {
  background: url("../images/dts/bg-1.png") center no-repeat;
  background-size: cover;
}
.dst .dst-box-2 {
  background: url("../images/dts/bg-3.png") center no-repeat;
  background-size: cover;
}
.dst .dst-box-3 {
  background: url("../images/dts/bg-2.png") center no-repeat;
  background-size: cover;
}
.dst .dst-box p {
  font-size: 25px;
  font-weight: 100;
  color: #ffffff;
}

.our-work {
  padding: 100px 0px;
}
.our-work .num-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}
.our-work .num-wrapper {
  margin-top: 50px;
}
.our-work .num-box span {
  width: 60px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.our-work h6 {
  font-size: 20px;
  margin-bottom: 5px;
}
.our-work .num-box-1 span {
  background-color: #3D37F1;
}
.our-work .num-box-2 span {
  background-color: #9997DF;
}
.our-work .num-box-3 span {
  background-color: #FFBA3F;
}
.our-work .num-box-4 span {
  background-color: #E66E6E;
}
.our-work .num-box-5 span {
  background-color: #66659F;
}
.our-work .num-box-6 span {
  background-color: #F17637;
}
.our-work .num-box-7 span {
  background-color: #37F1BE;
}
.our-work .num-box-8 span {
  background-color: #F137E5;
}
.our-work .num-box-9 span {
  background-color: #F13D37;
}

h4, h6 {
  color: #616161;
}

p {
  color: #868686;
}

.our-blog {
  padding: 100px 0px;
}
.our-blog .bwb {
  background-color: #ffffff;
  box-shadow: 0px 10px 35px #e7e6e6;
  padding-bottom: 20px;
}
.our-blog .blog-box {
  padding: 20px;
}
.our-blog img:not(.arrow) {
  width: 100%;
  height: 252px;
}

.brand {
  padding: 100px 0px;
}

footer {
  padding: 100px 0px 50px 0px;
}
footer .f-logo {
  width: 80px;
  margin-bottom: 20px;
}
footer .f-social {
  display: flex;
  gap: 25px;
}
footer .f-social div {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0A315A;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h4 {
  font-size: 20px;
  color: grey;
  font-weight: 400;
  margin-bottom: 20px;
}
footer ul li a {
  color: grey;
  display: inline-block;
  margin-bottom: 15px;
}

@media only screen and (min-width: 1200px) {
  .portfolio-img {
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: end;
  }
  .osw-box:not(.our-success-wrapper .osw-box) {
    min-height: 500px;
  }
}
@media only screen and (max-width: 1200px) {
  .sky-banner {
    height: auto;
  }
  .sky-banner h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .all-works, .all-work-head, .portfolio-img {
    text-align: center;
  }
  .portfolio-img {
    margin-bottom: 25px;
  }
  .sky-banner {
    text-align: center;
  }
  .res-margin {
    margin-bottom: 50px;
  }
  .dst-box {
    padding: 30px !important;
  }
  .our-work .num-box span {
    width: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .sky-banner h1 {
    font-size: 40px;
  }
  .our-success-wrapper .osw-box {
    margin-bottom: 30px;
  }
  .work-flow-content {
    text-align: center;
  }
  .about-us .abt-btn {
    margin-top: 50px;
    text-align: center;
  }
  .dst .dst-box {
    margin-bottom: 30px;
  }
  .sky-banner img.top-bg {
    top: -60px;
  }
}
@media only screen and (max-width: 600px) {
  .sky-banner img.top-bg {
    top: -40px;
  }
  .our-portfolio, .dst, .our-work, .our-blog, .brand {
    padding: 50px 0px;
  }
  .about-wrapper {
    padding: 100px 0px !important;
  }
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 400px) {
  .sky-banner img.top-bg {
    top: -20px;
  }
}
@media only screen and (max-width: 320px) {
  .sky-banner h1 {
    font-size: 32px;
  }
  .sky-banner {
    padding: 15px 30px;
  }
}/*# sourceMappingURL=style.css.map */